# Battle of the neighborhoods -- Which part of town is the most alive! week4 submission

Johannesburg is the most alive city in Africa. 

This claim may not be supported by data , but it's young, it's diverse, and it's loved by its residents. 

It's no less a melting pot than other metropolitans. I myself am an immigrant from China. 
After living six years in the city, I can be half a tour guide if you ever want to visit. 

What you say now? You don't have time to go over the whole town? 
Why don't I suggest a cluster of suburbs where wine glasses are always full, coffee aromas are always lingering, and the fun never stops!

## Part 1 Research problem/Audience/Significance

#### Problem:  Which part of town is the most alive in Johannesburg?
#### Audience:  Self-guided tourists
#### Significance: The analysis suggests the most efficient way to visit the fun spots in the city.

## Part 2 Data description

The analysis uses the Foursquare Location to map and cluster the 1562 Johannesburg suburbs based on recreational categories. 

The algorithm is Kmeans Clustering from SKLEARN library.

The Suburbs information is scraped from the SAPostal service website.

## Part 3 Suburbs names

In [1]:
# library to handle data in a vectorized manner
import numpy as np

# library for data analsysis
import pandas as pd

# library to handle JSON files
import json
print('numpy, pandas, ..., imported...')

# library to handle requests
import requests
print('requests imported...')

# tranform JSON file into a pandas dataframe
from pandas.io.json import json_normalize
print('json_normalize imported...')

# Matplotlib and associated plotting modules
import matplotlib.pyplot as plt
print('matplotlib imported...')

# import k-means from clustering stage
from sklearn.cluster import KMeans
print('Kmeans imported...')

numpy, pandas, ..., imported...
requests imported...
json_normalize imported...
matplotlib imported...
Kmeans imported...

In [2]:
# Get the Toronto file from WIKI.
from bs4 import BeautifulSoup
from urllib.request import urlopen  # for Python 3: from urllib.request import urlopen
from bs4 import BeautifulSoup

URL = 'http://www.sapostalcodes.info/queryPostal/Johannesburg'
soup = BeautifulSoup(urlopen(URL))

In [3]:
tables = [
    [
        [td.get_text(strip=True) for td in tr.find_all('td')] 
        for tr in table.find_all('tr')
    ] 
    for table in soup.find_all('table')
]
df=pd.DataFrame(tables[1],columns=["City","Suburb","Street","Box"])

In [4]:
df.drop(columns=["Street"],inplace= True)
df.drop(df.index[0],inplace=True)
df.head(3)

           City      Suburb   Box
1  JOHANNESBURG  ABBOTSFORD  2192
2  JOHANNESBURG     AEROTON  2190
3  JOHANNESBURG     AIRDLIN   N/A

In [5]:
df.shape

(1562, 3)

In [6]:
df["Suburb_address"]=df["Suburb"]+","+df["City"]
df.head(3)

           City      Suburb   Box           Suburb_address
1  JOHANNESBURG  ABBOTSFORD  2192  ABBOTSFORD,JOHANNESBURG
2  JOHANNESBURG     AEROTON  2190     AEROTON,JOHANNESBURG
3  JOHANNESBURG     AIRDLIN   N/A     AIRDLIN,JOHANNESBURG